@{
    ViewBag.Title = "ASIATRAVEL";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
    <meta name="description" content="ASIATRAVEL.COM" />
    <meta name="keywords" content="ASIATRAVEL.COM" />
    <meta name="developer" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASIATRAVEL.COM</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/content/css/bootstrap.css">
    <!-- Icofont CSS -->
    <link rel="stylesheet" href="~/content/css/icofont.css">
    <!-- AOS CSS -->
    <link rel="stylesheet" href="~/content/css/aos.css">
    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/content/css/style-coming-parallax.css">
    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="aonomy-preloader">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <!-- START AONOMY HEADER SECTION -->
    <header id="aonomy-header" data-stellar-background-ratio="0.5">
        <div id="particles-js"></div>
        <div class="aonomy-top">
            <div class="container">
                <div class="row">
                    <div class="aonomy-logo-container col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <a href="#"><img src="~/content/img/logo.png" alt="Aonomy"></a>
                    </div><!-- end .aonomy-logo-container -->

                    <div class="aonomy-navigation col-xl-9 col-lg-9 col-md-9 col-sm-6 col-6">
                        <div class="aonomy-coming-contact">
                            <a class="aonomy-coming-contact-button" href="#aonomy-contact">Contact us</a>
                        </div>
                    </div><!-- end .aonomy-navigation -->
                </div><!-- end .row -->
            </div><!-- end .container-->
        </div><!-- end .aonomy-top -->

        <div class="aonomy-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="aonomy-header-details">
                        <div class="col-xl-12">
                            <h1>
                                Welcome To<br />
                                ASIATRAVEL.COM
                            </h1>
                        </div><!-- end .col-xl-12 -->

                        <div class="col-xl-8 offset-xl-2">
                            <p>

                                It is Asia’s leading multi-channel online travel company that offers a global inventory of over 8m travel products worldwide. Its online booking feature of all-inclusive packages strongly appeals to travellers seeking convenience, instant confirmation and extra savings. Its ability to provide full travel services at packaged prices sets its distinctive position in the online travel market.
                                <br /><br />
                                With comprehensive ground experience, supplier relationships, proprietary systems and operational knowledge, Asiatravel.com maintains a strong travel brand recognised for its reliability, sincerity and integrity, for consumers and partners alike.
                                <br /><br />
                                Its recent award includes the Best Online Travel Agency 2015, for the 3rd consecutive year by TTG Travel Awards Asia Pacific. Established in 1995, it is listed on the Singapore Stock Exchange since 2001.

                            </p>
                        </div><!-- end .col-xl-12 -->



                    </div><!-- end .aonomy-header-details -->
                </div><!-- end .row -->
            </div><!-- end .container -->
        </div><!-- end .aonomy-header-bottom -->
    </header>
    <!-- END AONOMOY HEADER SECTION -->
    <!-- START AONOMY CONTACT SECTION -->
    <section id="aonomy-contact">
        <div class="container">

            <div class="row">
                <div class="col-md-4">

                    <div class="aonomy-section-header">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3>
                                    Contact Us
                                </h3>
                                <div class="aonomy-footer-contact">
                                    <h5>ASIATRAVEL.COM</h5>
                                    <p>
                                        <i class="icofont icofont-location-pin"></i> 46 East Coast Road<br />
                                        <span>#06-03 Eastgate</span><br />
                                        <span>Singapore 428766</span>
                                    </p>
                                    <p><a href="mailto:enquiry@asiatravel.com"><i class="icofont icofont-mail-box"></i> enquiry@asiatravel.com</a></p>
                                    <!--<p><a href="callto:+14155552671"><i class="icofont icofont-mobile-phone"></i> +1 415 5552671</a></p>-->
                                </div><!-- end .aonomy-footer-contact -->
                            </div><!-- end .col-lg-12 -->
                        </div><!-- end .row -->
                    </div><!-- end .aonomy-section-header -->



                </div>
                <div class="col-md-8">
                    <div class="aonomy-section-header">
                        <div class="row">
                            <div class="col-xl-12">
                                <h3>Enquiry Form</h3>
                                <p class="miraz_size">Please use the form below if you have any questions for us and we’ll get back to you shortly.</p>

                            </div><!-- end .col-lg-12 -->
                        </div><!-- end .row -->
                    </div><!-- end .aonomy-section-header -->

                    <div class="aonomy-contact-container">
                        <form id="aonomy-forms" class="contact__form" method="POST" action="SendMessage">
                            <div class="row">

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" name="fname" id="fname" required="required">
                                    </div><!-- end .form-group -->

                                </div><!-- end .col-xl- -->

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <input type="email" placeholder="Your Email" name="email" id="email" required>
                                    </div><!-- end .form-group -->

                                </div><!-- end .col-xl- -->

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <input type="text" name="phone" id="phone" required="required" placeholder="Your Number  ">
                                    </div><!-- end .form-group -->

                                </div><!-- end .col-xl- -->

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <input type="text" name="subject" id="subject" required="required" placeholder="Your Subject  ">
                                    </div><!-- end .form-group -->

                                </div><!-- end .col-xl- -->

                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <textarea placeholder="Your Message" name="message" id="message" required="required"></textarea>
                                    </div><!-- end .form-group -->
                                </div><!-- end .col-xl-12 -->

                                <div class="col-xl-12">
                                    <div class="aonomy-btn">
                                        <button name="submit" type="submit" class="btn" id="submit-btn"><i class="icofont icofont-location-arrow"></i> Send Message</button>
                                    </div><!-- end .form-group -->
                                </div><!-- end .col-xl-12 -->
                            </div><!-- end .row -->
                            <!-- form message -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                                    </div>
                                </div>
                            </div>
                            <!-- end message -->
                        </form><!-- end #aonomy-form -->
                    </div><!-- end .aonomy-contact-container -->

                </div>
            </div>

        </div><!-- end .container -->
    </section>
    <!-- END AONOMY CONTACT SECTION -->
    <!-- START AONOMY FOOTER -->
    <footer id="aonomy-footer">


        <div class="aonomy-copyright-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-7">
                        <div class="aonomy-copyright"><p>&copy;  Copyright@2020 Asiatravel.com Holdings Ltd.<br /> "Asiatravel.com" is trademark of Asiatravel.com Holdings Ltd. </p></div>
                    </div>
                </div><!-- end .row -->
            </div><!-- end .container -->
        </div><!-- end .aonomy-copyright-container -->

    </footer>

    <!-- END AONOMY FOOTER -->
    <!-- Jquery JS -->
    <script src="~/content/js/jquery.min.js"></script>

    <!-- Jquery Migrate JS -->
    <script src="~/content/js/jquery-migrate.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/content/js/bootstrap.js"></script>
    <!-- aos JS -->
    <script src="~/content/js/aos.js"></script>
    <!-- Steller JS -->
    <script src="~/content/js/jquery.stellar.js"></script>
    <!-- Particles JS -->
    <script src="~/content/js/particles.js"></script>
    <!-- Vide JS -->
    <script src="~/content/js/jquery.vide.js"></script>
    <!-- Validator JS -->
    <script src="~/content/js/validator.js"></script>
    <!-- Countdown JS -->
    <script src="~/content/js/mail.send.js"></script>
    <script src="~/content/js/jquery.countdown.js"></script>
    <!-- aonomy default JS -->
    <script src="~/content/js/app-coming-parallax.js"></script>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
